body {
	margin: 0;
	height: 100vh;
	min-height: 650px;
	background-color: #E7F6F2;
	text-align: center;
	color: #000000;
    font-family: 'Inter', sans-serif;
}

.container {
	margin: 0 auto;
	width: 100%;
	max-width: 650px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#header {
	margin: 15px 10px;
	text-transform: uppercase;
	font-size: 42px;
}

img {
	width: 100%;   
}

#question {
	margin: 20px;
	font-size: 28px;
}

#link {
	visibility: hidden;
	margin: 0px;
	margin-bottom: 10px;
	padding: 0;
	border-bottom: 2px dotted #5c5757;
	text-decoration: none;
	font-size: 15px;
    font-family: 'Inter', sans-serif;
	color: #242020;
}

.buttons {
	margin: 5px;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

button {
	margin: 0 10px;
	padding: 15px 30px;
	min-width: 220px;
	border: 1px solid #000000;
	background-color: transparent;
	text-transform: uppercase;
	font-size: 18px;
    font-family: 'Inter', sans-serif;
	color: #000000;
	cursor: pointer;
}

.cover {
	width: auto;
	height: 540px;
}

@media all and (max-width:500px) {

	#header {
		margin: 15px 5px;
		font-size: 20px;
	}

	#question {
		margin: 15px 10px;
		font-size: 26px;
	}

	button {
		margin: 10px 5px;
		padding: 15px 10px;
		min-width: 140px;
		font-size: 15px;
	}

	.cover {
		height: 400px;
	}
	
	img{
	height:300px;
	}
	h1{
	font-size: 60px;
	}
		
}
